.centered-image {
    display: block;
    margin: auto;
    width: 350px;
    height: 250px;
    margin-top: 25px;
    padding: 10px;
    position: relative;
}

div.buttons {
    text-align: center;
}

.rounded {
    border-radius: 25px;
}

.red-border {
    border: 3px solid red;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0;
    padding: 0 10px 7px 0;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider ul li {
    float: left;
}
