body {
    background-color: #c6ffff;
}

div.container {
    width: 80%;
    margin: auto;
}

div.green {
    background-color: #96f7c7;
    float: left;
    width: 65%;
    min-height: 300px;
    margin-right: 45px;
}

div.pink {
    background-color: #ff5aff;
    float: left;
    width: 30%;
    min-height: 300px;
}
