.new-line {
    margin-bottom: 15px;
    display: block;
}

img.user-image {
    width: 48px;
    height: 48px;
    float: left;
    padding-top: 34px;
    margin-right: 2px;
}

img.social-icons {
    width: 16px;
    height: 16px;
}

p.share-in {
    margin-top: 30px;
}
