body {
    background-color: #e5efbd;
}

div.container {
    width: 80%;
    margin: auto;
}

div.paragraph {
    border: 1px solid black;
    width: 28%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
