@font-face {
    font-family: BitterSweet;
    src: url(./fonts/BitterSweet.ttf);
}

@font-face {
    font-family: CloisterBlack;
    src: url(./fonts/CloisterBlack.ttf);
}

@font-face {
    font-family: Seagram;
    src: url(./fonts/Seagram-tfb.ttf);
}

.container {
    margin: auto;
    width: 90%;
}

div.emoji {
    border: 1px solid black;
    width: 33%;
    float: left;
}

img.emoji-img {
    width: 64px;
    height: 64px;
    opacity: 0.4;
    float: left;
    margin: 8px;
    transition: opacity 0.7s ease;
}

img.emoji-img:hover {
    opacity: 1;
}

.emoji-title {
    font-family: Seagram;
    margin-top: 7px;
    margin-bottom: 5px;
}

.emoji-text {
    font-family: CloisterBlack;
    margin-top: 7px;
    font-size: 14px;
}
