body {
    margin: 0;
}

#navbar {
    border-top: 4px solid #fcc02d;
}

#navbar-title {
    float: left;
}

#navbar-right {
    text-align: right;
}

#navbar ul {
    list-style-type: none;
}

#navbar ul li {
    display: inline;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Arial';
    font-size: 12px;
}

#navbar ul li.active,
#navbar ul li:hover {
    background-color: #fcc02d;
}

#navbar a {
    text-decoration: none;
    color: gray;
    padding: 20px 15px;
}

.header-image {
    margin: 9px 9px 9px 20px;
    color: #fdbf26;
    float: left;
}

.header-text {
    color: gray;
    margin-top: 8px;
    font-family: 'Arial';
}

.header-text #site-name {
    font-size: 16px;
}

.header-text #caption {
    font-size: 11px;
    padding-left: 2px;
}
